/* uncomment the following block to disable scrolling of the page as a whole */
/* scrolling will still be possible on individual elements */
/*
html, body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
*/
